POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=usersdb
POSTGRES_URL=postgres://user:password@localhost:5432/usersdb?sslmode=disable

MONGO_URI=mongodb://localhost:27017/?replicaSet=rs0
MONGO_DB_NAME=wallet
MONGO_COLLECTION_PREFIX=

REDIS_USERS_URL=localhost:6379
REDIS_WALLET_URL=localhost:6380

JWT_SECRET=ILIACHALLENGE
